* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button:hover {cursor: pointer;}

body {background-color: whitesmoke;}

a {text-decoration: none;}

h1,h2,h3{display: flex;}

h2 {font-size: 2rem;}

/* Prevent stretch media */
img, embed, video, object {max-width: 100%;}

/* Tap target */
nav a button {
    min-height: 48px;
    min-width: 48px;
}